html, body {
    height: 100%;
    margin: 0%;
    padding: 0;
    background-image: linear-gradient(DeepSkyBlue, white 60%);
}

/* https://stackoverflow.com/questions/13416989/computed-font-size-is-bigger-than-defined-in-css-on-the-asus-nexus-7 */
body, body * {
    max-height: 1000000px;
}

#container {

    width: 100%;
    height: 100vh;
}

.slides {
    width: 75%;
    height: 80vh;
    display: none;
    font-size: 30px;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 600;
    font-optical-sizing: auto;
    color: HotPink;
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
}

.visible-slides {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.appear-post-sound {
    visibility: hidden;
}

.appear-post-sound-visible {
    visibility: visible;
}

a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}
.marquee {
      width: 100%;
      white-space: nowrap;
      box-sizing: border-box;
      font-size :80px;
    }

    .marquee span {
      display: inline-block;
      padding-left: 100%;
      animation: scroll-left 10s linear infinite;
    }

    @keyframes scroll-left {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100%);
      }
    }
@media (max-width: 1000px) {
    .slides {
        font-size: 60px;
    }
}
